      <!-- Links -->
      <div class="wrapper m-links">
        <section class="row">
          <h3>Other <span>initiatives</span></h3>
          <nav>
<%
data.site.init_codes.each do |code|
  link = data.site.init_links[code]
  title = data.site.init_titles[code]
  if !link.match('^http://')
%>
            <a class="btn btn-<%= code %>" href="<%= link %>"><%= title %></a>
<%
  else
%>
            <span class="btn btn-<%= code %>" href="#"><%= title %></span>
<%
  end
end
%>
          </nav>
        </section>
      </div>
