    <div class="container main">

      <!-- Cover -->
      <div class="m-cover">
        <section class="row">
          <img src="/assets/images/cover/Ziarah_Mahabbah_Brochure.jpg" alt="">
        </section>
      </div>

      <!-- Header -->
      <div class="wrapper m-header">
        <header class="row">
          <h1>
            Madrasah<span>Mahabbah</span>
            <span class="sub">Learn. <span>Love.</span> Live.</span>
          </h1>
        </header>
      </div>

      <!-- Welcome -->
      <div class="wrapper m-welcome">
        <section class="row">
          <p>
            <strong class="mm">Madrasah<span>Mahabbah</span></strong> is many things. But it is nothing if it is not a <em>family</em>. Because the smallest and biggest part of our ummah is <em>family</em>. It is when we are a <em>family</em> that we truly <em>learn</em>, <em>love</em> and <em>live</em>.
          </p>
          <nav>
<!--             <button id="trigger-overlay-about" type="button" class="trigger-about">
              <i class="fa fa-group"></i>
              About <span>Us</span></button>
            <button id="trigger-overlay-init" type="button" class="trigger-init">
              <i class="fa fa-road"></i>
              Our <span>Initiatives</span></button> -->
          </nav>
        </section>
      </div>

      <div class="wrapper m-pillars">
        <section class="row">
          <div class="title">
            <h2>Our <span>Pillars</span></h2>
          </div>
          <div class="alpha">
            <div class="wrap">
              <h3>
                <i class="fa fa-book"></i>
                Learn
              </h3>
              <div class="text">
                <p>We met at a <em>Madrasah</em> of knowledge.</p>
                <p>A garden from the gardens of paradise that our Prophet Muhammad (SAW) <em>reminded us to frequent.</em></p>
              </div>
            </div>
          </div>
          <div class="beta">
            <div class="wrap">
              <h3>
                <i class="fa fa-heart"></i>
                Love
              </h3>
              <div class="text">
                <p>We experienced something really special.</p>
                <p>We experienced <em>Mahabbah</em> &mdash; That can be perfectly summed up in the <em>greatest testimony of love.</em></p>
                <p><em>La ilaha illallah<br>Muhammadur Rasulullah!</em></p>
              </div>
            </div>
          </div>
          <div class="gamma">
            <div class="wrap">
              <h3>
                <i class="fa fa-umbrella"></i>
                Live
              </h3>
              <div class="text">
                <p>And now we aspire to become <em>The Muhibbains</em>, an aspiration that requires continually <em>learning to love, loving to live</em> and <em>living to learn and love</em> by the best example of Al Mustafa (SAW).</p>
                <p>Until we return to <em>Dar Al Akhirah</em>, to and with the rahmat of Allah SWT and the syafaat of His Beloved, Saiyidina Rasulullah (SAW), InsyaAllah.</p>
              </div>
            </div>
          </div>
        </section>
      </div>


      <!-- SECTION: INITIATIVES -->
      <section class="m-initiatives">

        <div class="init-wrapper">

          <div class="inner">

            <div class="title">
              <h2>Our <span>Initiatives</span></h2>
            </div>

            <div class="row">
              <div class="col">

                <!-- Raudhatul Muhibbain -->
                <div class="init m-rm" data-init="rm">
                  <a href="<%= data.site.init_links.rm %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.rm %>
                      </h3>
                      <p class="text">
                        A garden from <em>the gardens of paradise, InsyaAllah.</em>
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              <div class="col">

                <!-- Mabkhoor Music -->
                <div class="init m-mm" data-init="mm">
                  <a href="<%= data.site.init_links.mm %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mm %>
                      </h3>
                      <p class="text">
                        <em>Message</em> through <em>melody and music.</em>
                        <!-- Erwan composes songs, Zafri produces things, Adib sings a beautiful voice. We call ourselves The Muhibbains. Along comes Syed &amp; Luqman, as does Shahrul. Syeikh Radzi plucks his oud from Yemen with Deen lyrical from Singapore. Wan makes the music and there goes our family&mdash;Mabkhoor Music. -->
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              <div class="col">

                <!-- Mahabbah Fashion -->
                <div class="init m-mf" data-init="mf">
                  <a href="<%= data.site.init_links.mf %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mf %>
                      </h3>
                      <p class="text">
                        <em>Akhlaq</em> of Rasulullah <em>is the best attire</em> one can wear.
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>


              <div class="col">

                <!-- Mahabbah Food & Beverages -->
                <div class="init m-mfb" data-init="mfb">
                  <a href="<%= data.site.init_links.mfb %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mfb %>
                      </h3>
                      <p class="text">
                        For the <em>body, mind</em> and <em>soul.</em>
                        <!-- [Allah said], &ldquo;O messengers, eat from the <em>good foods and work righteousness.&rdquo;</em> -->
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>

            </div>

            <!-- second row -->
            <div class="row">
              <div class="col">

                <!-- Mahabbah Training -->
                <div class="init m-mtc" data-init="mtc">
                  <a href="<%= data.site.init_links.mtc %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mtc %>
                      </h3>
                      <p class="text">
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              <div class="col">

                <!-- Mahabbah Travels -->
                <div class="init m-mtt" data-init="mtt">
                  <a href="<%= data.site.init_links.mtt %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mtt %>
                      </h3>
                      <p class="text">
                        Rasulullah (SAW) said: "When three set out on a journey, they should choose <em>one of them</em> to be their leader"
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              <div class="col">

                <!-- Mahabbah Books -->
                <div class="init m-mb" data-init="mb">
                  <a href="<%= data.site.init_links.mb %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mb %>
                      </h3>
                      <p class="text">
                        The Prophet (SAW) said, “Seek knowledge <em>even in China.”</em>
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>


              <div class="col">

                <!-- Mahabbah Technologies -->
                <div class="init m-mt" data-init="mt">
                  <a href="<%= data.site.init_links.mt %>">
                    <div class="wrap">
                      <h3>
                        <%= data.site.init_titles.mt %>
                      </h3>
                      <p class="text">
                        Using Technology as <em>tool for taqwa.</em>
                      </p>
                    </div>
                    <div class="overlay">
                      <div class="wrap-ol">
                        <div class="logo"></div>
                        <button>Visit site</button>
                      </div>
                    </div>
                  </a>
                </div>

              </div>

            </div>

          </div>

        </div>
      </section>

      <!-- Related -->
      <div class="wrapper m-related">
        <section class="row">
          <h2>Our <span>Gardens of Paradise</span></h2>
          <nav>
            <a href="http://www.darulmurtadza.com/">
              <%= image_tag 'MT_Darul_Murtadza_edit.png' %>
              <span data-hover="Habib Ali Zaenal Abidin">Majlis Ta'lim Darul Murtadza</span>
            </a>
            <br>
            <a href="http://www.dmuhibbin.com/">
              <%= image_tag 'MT_Darul_Muhibbin_edit.png' %>
              <span data-hover="Ustaz Ahmad bin Shadan">Majlis Ta'lim Darul Muhibbin</span>
            </a>
            <a href="http://www.madrasahattazkiyah.com/">
              <%= image_tag 'Madrasah_Tazkiah_edit.png' %>
              <span data-hover="Habib Najmuddin">Madrasah At-Tazkiyah</span>
            </a>
            <br>
            <a href="#">
              <%= image_tag 'asiqs-logo-edit.png' %>
              <span data-hover="Ash Shura Institute of Quranic Science">Ash Shura Institute of Quranic Science</span>
            </a>
          </nav>
        </section>
      </div>


<%= partial 'quran' %>

<%= partial 'footer' %>

    </div><!-- /container -->

